/**
* Base styles and any SUIT vars
*/

@css {
  @custom-media --xs-viewport (min-width: 30em);
  @custom-media --sm-viewport (min-width: 48em);
  @custom-media --md-viewport (min-width: 62em);
  @custom-media --lg-viewport (min-width: 75em);

  @import "suitcss-base";
  @import "suitcss-utils";
  @import "suitcss-components";
  @import "../utils/text";
}

@require "variables"

html
  font-size $font-size-base

body
  font-family $font-family-base
  line-height $line-height-base
  color $text-color
  background-color #fff

a
  color $link-color
  text-decoration underline

a:hover,
a:focus,
a:active
  color $link-color
  text-decoration none

// A better looking default horizontal rule
hr
  display block
  height 1px
  border 0
  border-top 3px solid $color-brand-primary
  margin 1em 0
  padding 0

// Prevent iframes from overflowing
iframe
  max-width 100%

// Allow only vertical resizing of textareas
textarea
  resize vertical

// Override WP Admin Bar color
#wpadminbar
  background-color $admin-bar-color
