//
// Fonts
// --------------------------------------------------

// Raleway Regular - https://www.google.com/fonts/specimen/Raleway
@font-face
  font-family "Raleway Regular"
  src url("assets/fonts/raleway-regular-webfont.eot")
  src url("assets/fonts/raleway-regular-webfont.eot?#iefix") format("embedded-opentype"),
      url("assets/fonts/raleway-regular-webfont.woff2") format("woff2"),
      url("assets/fonts/raleway-regular-webfont.woff") format("woff"),
      url("assets/fonts/raleway-regular-webfont.ttf") format("truetype"),
      url("assets/fonts/raleway-regular-webfont.svg#ralewayregular") format("svg")
  font-weight normal
  font-style normal
