//
// Form styles
// --------------------------------------------------

@require "variables";
@require "../components/button";

// Text input
.InputText
  border 2px solid $color-brand-gray
  border-radius $border-radius-base
  padding px(6) px(9) px(7)

  &:hover
    border-color darken($color-brand-gray, 10%)

  &:focus
    outline 0
    border-color $color-brand-pink

.InputText--sm
  font-size px($font-size-base - 2)
  border-width 1px
  padding px(3) px(6) px(4)

// Jetpack contact form
// Additional specificity to override grunion.css
form.contact-form
  input[type="text"],
  input[type="email"],
  textarea
    @extend .InputText
    width 100%
    max-width none
    margin-bottom px(15)

  .contact-submit
    text-align center

  // Custom button styles required here due to lack of
  // flexibility with Jetpack Contact Form class names
  input[type="submit"]
    @extend .Button
    @extend .Button--lg
    @extend .Button--success
