//
// Form styles
// --------------------------------------------------

@require "variables";
@require "../components/button";

// Text input
.InputText
  border 2px solid $color-brand-gray
  border-radius $border-radius-base
  padding px(6) px(9) px(7)

  &:hover
    border-color darken($color-brand-gray, 10%)

  &:focus
    outline 0
    border-color $color-brand-pink

.InputText--sm
  font-size px(13)
  border-width 1px
  padding px(3) px(6) px(4)

.InputLabel
  font-weight bold

.InputRequired
  color $alert-danger-text
  font-weight normal

// Contact Form 7
div.wpcf7
  .InputText
    width 100%
    margin-bottom px(15)

  .wpcf7-not-valid-tip
    font-size 80%
    color $alert-danger-text
    margin px(-10) 0 px(10)

  img.ajax-loader
    display block
    margin px(10) auto
