//
// Form styles
// --------------------------------------------------

@require "variables";
@require "../components/button";

// Text input
// TODO: Refactor so these aren't mixins
InputText()
  border 2px solid $color-brand-gray
  border-radius $border-radius-base
  padding px(7) px(9)

  &:hover
    border-color darken($color-brand-gray, 10%)

  &:focus
    outline 0
    border-color $color-brand-pink

.InputText
  InputText()

InputText--sm()
  font-size px($font-size-base - 2)
  border-width 1px
  padding px(4) px(6)

.InputText--sm
  InputText--sm()

// Jetpack contact form
// Additional specificity to override grunion.css
form.contact-form
  input[type="text"],
  input[type="email"],
  textarea
    InputText()
    width 100%
    max-width none
    margin-bottom px(15)

  .contact-submit
    text-align center

  // Custom button styles required here due to lack of
  // flexibility with Jetpack Contact Form class names
  input[type="submit"]
    Button()
    Button--lg()
    Button--success()
