/**
 * Sizing
 */
size($width, $height)
  width $width
  height $height

square($dimen)
  size($dimen, $dimen)

/**
 * Responsive image
 */
img-responsive($display = block)
  display $display
  width unquote('100% \9')
  max-width 100%
  height auto

/**
 * Remove gutter
 */
remove-gutter()
  margin-left px(-20)
  margin-right @margin-left
