//
// Base variables
// --------------------------------------------------

// Fonts
$font-family-base = "Raleway Regular", sans-serif
$font-size-base =   16
$font-size-lg =     27

$line-height-base = 1.4

// Colours
$color-brand-gray =      #bbb
$color-brand-pink =      #ee5455
$color-brand-yellow =    #fbb03b

$text-color =            #091d5c
$link-color =            $text-color
$admin-bar-color =       #777

$color-brand-primary =   $color-brand-pink
$color-brand-secondary = $color-brand-yellow

$color-brand-success =   #1aa331
$color-brand-danger =    #e7420c

// Border radius
$border-radius-base = 5px

// Media query breakpoints
$screen-xs = 480px
$screen-sm = 768px
$screen-md = 992px
$screen-lg = 1200px
