//
// Base variables
// --------------------------------------------------

// Typography
$font-family-base = "Raleway Regular", sans-serif
$font-size-base =   16px
$font-size-lg =     27px

$line-height-base = 1.4

// Colours
$color-brand-gray =      #bbb
$color-brand-pink =      #ee5455
$color-brand-yellow =    #fbb03b

$color-brand-success =   #1aa331
$color-brand-danger =    #e7420c

$color-brand-primary =   $color-brand-pink
$color-brand-secondary = $color-brand-yellow

$text-color =            #091d5c
$link-color =            $text-color
$admin-bar-color =       #777

// Alerts
$alert-success-text = #3c763d
$alert-success-bg =   #dff0d8

$alert-info-text =    #31708f
$alert-info-bg =      #d9edf7

$alert-warning-text = #8a6d3b
$alert-warning-bg =   #fcf8e3

$alert-danger-text =  #a94442
$alert-danger-bg =    #f2dede

// Border radius
$border-radius-base = 5px

// Media query breakpoints
$screen-xs = 480px
$screen-sm = 768px
$screen-md = 992px
$screen-lg = 1200px
