//
// Container
// --------------------------------------------------

.Container {
  max-width: $screen-md;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $screen-sm) {
  .Container-mainColumn {
    float: left;
    width: 75%;
    padding-right: 30px;
  }
}
