//
// SocialIcons
// --------------------------------------------------

$SocialIcons-icon-size: 35px;

.SocialIcons {}

.SocialIcons-list {}

.SocialIcons-listItem {
  display: inline-block;
  overflow: hidden; // TODO: Find out why this is necessary
  margin: 0 5px;

  a {
    @include square($SocialIcons-icon-size);
    background-size: $SocialIcons-icon-size $SocialIcons-icon-size;
    opacity: 0.7;
    display: block;

    &:hover {
      opacity: 0.75;
    }
  }
}

.SocialIcons-iconFacebook {
  background-image: url("assets/images/social-icon-facebook.svg");
}

.SocialIcons-iconTwitter {
  background-image: url("assets/images/social-icon-twitter.svg");
}

.SocialIcons-iconLinkedin {
  background-image: url("assets/images/social-icon-linkedin.svg");
}

@media (min-width: $screen-sm) {
  .SocialIcons-listItem {
    margin: 0 10px 0 0;
  }
}
