/** @define Button */

// TODO: Refactor so these aren't mixins

@require "../base/functions"
@require "../base/variables"

Button()
  font-size px($font-size-base)
  border-width 2px
  border-radius $border-radius-base

.Button
  Button()

Button--sm()
  font-size px($font-size-base - 2)
  border-width 1px
  padding px(4) px(9)

.Button--sm
  Button--sm()

Button--lg()
  font-size px($font-size-base + 2)
  padding px(10) px(20)

.Button--lg
  Button--lg()

Button--default()
  color #444
  border-color $color-brand-gray
  background-color #fff

  &:hover
    color #444
    background-color lighten($color-brand-gray, 20%)

.Button--default
  Button--default()

Button--primary()
  color #fff
  border-color $color-brand-pink
  background-color $color-brand-pink

  &:hover
    color $text-color
    background-color #fff

.Button--primary
  Button--primary()

Button--success()
  color #fff
  border-color $color-brand-success
  background-color $color-brand-success

  &:hover
    color $text-color
    background-color #fff

.Button--success
  Button--success()
