//
// Comments
// --------------------------------------------------

.Comments
  padding px(30) px(20) px(40)

  label
    display block
    font-weight bold
    margin-bottom px(3)

  input[type="text"],
  input[type="email"],
  input[type="url"],
  #comment
    @extend .InputText
    width 100%
    margin-bottom px(15)

  .form-submit
    text-align center

  #submit
    @extend .Button
    @extend .Button--primary

  .comment-subscription-form
    padding-top px(15)

  .logged-in-as,
  .comment-notes
    margin-bottom px(10)

.Comments-title
  margin-bottom px(20)

.Comments-list
  .comment
    font-size px($font-size-base - 1)
    background-color #f9f9f9
    border 1px solid #ddd
    border-radius $border-radius-base
    margin-bottom px(20)

  .comment-body,
  .comment-respond
    padding px(20)

  .children
    margin-left px(30)

    .comment
      border 0
      border-top 1px solid #ddd
      border-radius 0
      margin-bottom px(10)

@media (min-width $screen-sm)
  .Comments
    input[type="text"],
    input[type="email"],
    input[type="url"]
      width 60%
