/** @define Container */

.Container {
  max-width: 992px;
  margin-left: auto;
  margin-right: auto;
}

@media (--sm-viewport) {
  .Container-mainColumn {
    float: left;
    width: 75%;
    padding-right: 30px;
  }
}
