//
// Container
// --------------------------------------------------

.Container
  max-width $screen-md
  margin-left auto
  margin-right @margin-left

@media (min-width $screen-sm)
  .Container-mainColumn
    float left
    width 75%
    padding-right px(30)
