/** @define EditLink */

@require "../base/functions";

.EditLink
  text-align right
  margin px(20) 0

  // Add Lower Right Pencil (U+270E) to button
  .Button:before
    content "✎"
    margin-right px(6)
