/** @define Entry; weak */

@require "../base/functions";

.Entry-header
  border-bottom 3px solid $color-brand-gray
  padding px(15) px(20)

.Entry-title
  a
    text-decoration none

    &:hover
      text-decoration underline

.Entry-meta
  font-size px($font-size-base - 2)

.Entry-summary
  padding px(20) px(20) px(30)

.Entry-content
  padding px(30) px(20) px(40)

  h2,
  h3
    padding-bottom px(10)

  p
    padding-bottom px(20)

  img
    height auto
    max-width 100%

  ul
    list-style disc
    margin-bottom px(20)
    padding-left px(20)

  ol
    list-style decimal
    margin-bottom px(20)
    padding-left px(20)

  li
    margin-bottom px(10)

  .lead
    font-size px(22)

  .alignleft,
  .alignright
    display block
    margin-bottom px(20)

  .aligncenter
    display block
    margin-left auto
    margin-right auto

.Entry-footer
  font-size px($font-size-base - 1)
  margin-bottom px(20)
  padding 0 px(20)

@media (min-width $screen-sm)
  .Entry-content
    .alignleft
      float left
      margin 0 px(20) px(20) 0

    .alignright
      float right
      margin 0 0 px(20) px(20)

  .Entry-mainColumn
    float left
    width 60%

  .Entry-sidebar
    float right
    width 35%
