/** @define Entry; weak */

@require "../base/variables"

.Entry-header
  border-bottom 3px solid $color-brand-gray
  padding 15px 20px

.Entry-title
  a
    text-decoration none

    &:hover
      text-decoration underline

.Entry-meta
  font-size $font-size-base - 2px

.Entry-summary
  padding 20px 20px 30px

.Entry-content
  padding 30px 20px 40px

  h2,
  h3
    padding-bottom 10px

  p
    padding-bottom 20px

  img
    height auto
    max-width 100%

  ul
    list-style disc
    margin-bottom 20px
    padding-left 20px

  ol
    list-style decimal
    margin-bottom 20px
    padding-left 20px

  li
    margin-bottom 10px

  .lead
    font-size 22px

.Entry-footer
  font-size $font-size-base - 1px
  margin-bottom 20px
  padding 0 20px

@media (min-width $screen-sm)
  .Entry-content
    padding 50px 40px 60px

  .Entry-mainColumn
    float left
    width 60%

  .Entry-sidebar
    float right
    width 35%
