//
// Jetpack form errors theme
// --------------------------------------------------

@require "../base/functions";
@require "../base/variables";

$form-error-text-color = $color-brand-danger

.form-error
  color $form-error-text-color
  border 2px solid $color-brand-danger
  border-radius $border-radius-base
  margin-bottom px(20)
  padding px(10) px(15)

  h3
    margin-bottom px(5)

  .form-errors
    list-style-type disc
    padding-left px(20)

    .form-error-message
      color $form-error-text-color
