//
// Jumbotron
// --------------------------------------------------

.Jumbotron
  border 1px solid $color-brand-gray
  margin-bottom px(30)

  img
    img-responsive()

  // Remove margin from any <p>'s added by TinyMCE
  p
    padding-bottom 0

.Jumbotron-content
  padding px(10)

.Jumbotron-heading
  font-weight normal
  font-size px($font-size-base)

@media (min-width $screen-sm)
  .Jumbotron
    position relative
    border 0
    margin-top px(-15)
    margin-bottom px(50)

    .Button
      color #fff

  .Jumbotron-content
    text-shadow 1px 1px 1px #111
    position absolute
    top 11%
    left 3%
    max-width 60%

  .Jumbotron-heading
    font-size px($font-size-base + 5)
    color #fff
    margin-bottom 5%

@media (min-width $screen-md)
  .Jumbotron
    remove-gutter()

  .Jumbotron-heading
    font-size px($font-size-large)
