/** @define PageHeader */

@require "../base/functions";
@require "../base/variables";

.PageHeader
  border-bottom 3px solid $color-brand-gray
  padding px(23) px(20)

.PageHeader-title
  color $color-brand-gray
