/** @define Pager */

@require "../base/functions";

.Pager
  padding px(20)

.Pager-list
  text-align center

.Pager-listItem
  display inline

.Pager-link
  display inline-block
  text-decoration none
  border 1px solid #ddd
  border-radius 15px
  color #666
  background-color #efefef
  padding px(5) px(14)

  &:hover
    text-decoration none
    border-color #ccc
    background-color #fff

  &:after
    color #777

.Pager-next
  float right

  .Pager-link:after
    content " →"

.Pager-previous
  float left

  .Pager-link:before
    content "← "
