/** @define PageHeader */

@require "../base/variables"

.PageHeader
  border-bottom 3px solid $color-brand-gray
  padding 23px 20px

.PageHeader-title
  color $color-brand-gray

.PageHeader-description
  color $color-brand-gray
  font-size $font-size-base - 1px
  padding-top 5px
