/* WordPress Login Page */

@require "../base/functions";
@require "../base/mixins";
@require "../base/variables";

.login #login h1 a
  size(190px, 165px)
  display inline-block
  background url("assets/images/site-logo.svg") no-repeat
  background-size 190px 165px
