//
// Sidebar
// --------------------------------------------------

.Sidebar
  background-color #efefef
  padding px(20)

.Sidebar-widget
  @extend .u-cf:before
  @extend .u-cf:after
  margin-bottom px(20)

  &:last-child
    margin-bottom 0

.Sidebar-title
  font-size px($font-size-large - 5)

// Recent posts widget
.widget_recent_entries
  ul
    list-style-type disc
    padding-left px(20)

  li
    margin-bottom px(5)

    &:last-child
      margin-bottom 0

// Jetpack Subscription Widget
.jetpack_subscription_widget
  #subscribe-email
    width 70%
    float left

    input[type="email"]
      @extend .InputText
      @extend .InputText--sm
      width 100%

  #subscribe-submit
    width 30%
    float right

    input[type="submit"]
      @extend .Button
      @extend .Button--sm
      @extend .Button--default
      width 100%
      margin-left px(4)

@media (min-width $screen-sm)
  .Sidebar
    float right
    width 25%
    margin-top px(73)
