/*
Sidebar
*/

.Sidebar {
  background-color: #efefef;
  padding: 20px;
}

.Sidebar-widget {
  overflow: hidden; /* Can't extend SUIT's .u-cf */
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.Sidebar-title {
  font-size: 22px;
  margin-bottom: 10px;
}

/* Recent posts widget */
.widget_recent_entries {
  ul {
    list-style-type: disc;
    padding-left: 20px;
  }

  li {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (--sm-viewport) {
  .Sidebar {
    float: right;
    width: 25%;
    margin-top: 73px;
  }
}
