//
// Sidebar
// --------------------------------------------------

@require "../base/forms"

.Sidebar
  background-color #efefef
  padding px(20)

.Sidebar-widget
  overflow hidden // Can't extend SUIT's .u-cf
  margin-bottom px(20)

  &:last-child
    margin-bottom 0

.Sidebar-title
  font-size px($font-size-lg - 5)

// Recent posts widget
.widget_recent_entries
  ul
    list-style-type disc
    padding-left px(20)

  li
    margin-bottom px(5)

    &:last-child
      margin-bottom 0

// Jetpack Subscription Widget
.jetpack_subscription_widget
  #subscribe-email
    width 70%
    float left

    input[type="email"]
      width 100%
      border 1px solid $color-brand-gray
      border-radius $border-radius-base
      font-size px(13)
      padding px(3) px(6) px(4)

      &:hover
        border-color darken($color-brand-gray, 10%)

      &:focus
        outline 0
        border-color $color-brand-pink

  #subscribe-submit
    width 30%
    float right

    input[type="submit"]
      Button()
      Button--sm()
      Button--default()
      width 100%
      margin-left px(4)

@media (min-width $screen-sm)
  .Sidebar
    float right
    width 25%
    margin-top px(73)
