/** @define SiteHeader */

.SiteHeader {
  border-top: 6px solid $color-brand-secondary;
}

.SiteHeader-wrapBranding {
  position: relative; /* For absolute positioning at --sm-viewport */
  text-align: center;
  padding: 20px 0;
}

.SiteHeader-logo {
  size: 136px 165px;
  display: inline-block;
  background: url("assets/images/site-logo.svg") no-repeat;
  background-size: 136px 165px;
  margin-bottom: 20px;
}

.SiteHeader-tagline {
  padding: 0 20px;
}

.SiteHeader-search {
  padding-top: 20px;
}

@media (--sm-viewport) {
  .SiteHeader-logo {
    float: left;
    margin: 20px 0 0 20px;
  }

  .SiteHeader-tagline {
    position: absolute;
    top: 40px;
    right: 20px;
    text-align: right;
    font-size: $font-size-lg;
    max-width: 380px;
    padding: 0;
  }

  .SiteHeader-search {
    position: absolute;
    top: 120px;
    right: 20px;
    padding-top: 0;
  }
}

@media (--md-viewport) {
  .SiteHeader-tagline {
    right: 0;
  }

  .SiteHeader-search {
    right: 0;
  }
}
