/** @define SiteHeaderMenu; weak */

@require "../base/functions"
@require "../base/variables"

.SiteHeaderMenu
  background-color #f2f2f2

/* postcss-bem-linter: ignore */
.SiteHeaderMenu-item
  &.current_page_item a,
  &.current_page_parent a
    background-color #ddd

  a
    display block
    text-decoration none
    padding px(10) px(20)

    &:hover
      background-color #ddd

@media (min-width $screen-xs)
  .SiteHeaderMenu-list
    text-align center

  .SiteHeaderMenu-item
    display inline-block

    a
      padding-left px(20)
      padding-right @padding-left

@media (min-width $screen-sm)
  .SiteHeaderMenu-list
    text-align right
    margin-right px(15)

  .SiteHeaderMenu-item
    font-size px($font-size-base + 3)

@media (min-width $screen-md)
  .SiteHeaderMenu-list
    margin-right 0
