/** @define SiteMenu; weak */

@require "../base/functions";
@require "../base/variables";

.SiteMenu
  background-color #f2f2f2

.SiteMenu-listItem
  &.current_page_item,
  &.current_page_parent
    background-color #ddd

    a,
    a:hover
      text-decoration none

  a
    display block
    text-decoration none
    padding px(10) px(20)

    &:hover
      background-color #ddd

@media (min-width $screen-xs)
  .SiteMenu-list
    text-align center

  .SiteMenu-listItem
    display inline-block

    a
      padding-left px(20)
      padding-right @padding-left

@media (min-width $screen-sm)
  .SiteMenu-list
    text-align right
    margin-right px(15)

  .SiteMenu-listItem
    font-size px($font-size-base + 3)

@media (min-width $screen-md)
  .SiteMenu-list
    margin-right 0
