//
// Site header menu
// --------------------------------------------------

@require "../base/functions";
@require "../base/variables";

.SiteHeader-menu
  background-color #f2f2f2

.SiteHeader-menuItem
  &.current_page_item,
  &.current_page_parent
    background-color #ddd

    .SiteHeader-menuItemLink,
    .SiteHeader-menuItemLink:hover
      text-decoration none

.SiteHeader-menuItemLink
  display block
  text-decoration none
  padding px(10) px(20)

  &:hover
    background-color #ddd

@media (min-width $screen-xs)
  .SiteHeader-menuList
    text-align center

  .SiteHeader-menuItem
    display inline-block

  .SiteHeader-menuItemLink
    padding-left px(20)
    padding-right @padding-left

@media (min-width $screen-sm)
  .SiteHeader-menuList
    text-align right
    margin-right px(15)

  .SiteHeader-menuItem
    font-size px($font-size-base + 3)

@media (min-width $screen-md)
  .SiteHeader-menuList
    margin-right 0
