/** @define SiteHeader; use strict */

@require "../base/functions";
@require "../base/mixins";

.SiteHeader-wrapBranding
  position relative // For absolute positioning at $screen-sm
  text-align center
  padding px(20) 0

.SiteHeader-logo
  size(136px, 165px)
  display inline-block
  background url("assets/images/site-logo.svg") no-repeat
  background-size 136px 165px
  margin-bottom px(20)

.SiteHeader-tagline
  padding 0 px(20)

.SiteHeader-search
  padding-top px(20)

@media (min-width $screen-sm)
  .SiteHeader-logo
    float left
    margin px(20) 0 0 px(20)

  .SiteHeader-tagline
    position absolute
    top 40px
    right 20px
    text-align right
    font-size px($font-size-large)
    max-width px(380)
    padding 0

  .SiteHeader-search
    position absolute
    top 120px
    right 20px
    padding-top 0

@media (min-width $screen-md)
  .SiteHeader-tagline
    right 0

  .SiteHeader-search
    right 0
