//
// SiteFooter
// --------------------------------------------------

@require "../base/functions";
@require "../base/variables";

.SiteFooter
  position relative // For absolute positioning at $screen-sm
  text-align center
  font-size px($font-size-base - 1)
  border-top 3px solid $color-brand-gray
  padding px(30) px(20)

  .SocialIcons-list
    margin-bottom px(20)

.SiteFooter-copyright
  margin-bottom px(20)

@media (min-width $screen-sm)
  .SiteFooter
    padding px(50) px(20) px(40)

  .SocialIcons-list
    float left
    margin-bottom 0

  .SiteFooter-copyright
    position absolute
    bottom 40px
    left 20px
    margin-bottom 0
