//
// SiteNav
// --------------------------------------------------

.SiteNav-listItem
  &.current_page_item,
  &.current_page_parent
    border-bottom 3px solid $color-brand-gray

    a,
    a:hover
      text-decoration none

  a
    display block
    text-decoration none
    padding 5px 20px

    &:hover
      text-decoration underline

@media (min-width $screen-xs)
  .SiteNav-list
    text-align center

  .SiteNav-listItem
    display inline-block

    a
      padding-left 10px
      padding-right @padding-left

@media (min-width $screen-sm)
  .SiteNav-list
    text-align right
    margin-right 20px - 5 // Minus .SiteNav-listItem padding

  .SiteNav-listItem
    font-size $font-size-base + 3
    margin-left 10px

    a
      padding 5px

@media (min-width $screen-md)
  .SiteNav-list
    margin-right 0

  .SiteNav-listItem
    margin-left 40px
