/** @define SiteMenu */

@require "../base/functions";
@require "../base/variables";

.SiteMenu-listItem
  &.current_page_item,
  &.current_page_parent
    border-bottom 3px solid $color-brand-gray

    a,
    a:hover
      text-decoration none

  a
    display block
    text-decoration none
    padding px(5) px(20)

    &:hover
      text-decoration underline

@media (min-width $screen-xs)
  .SiteMenu-list
    text-align center

  .SiteMenu-listItem
    display inline-block

    a
      padding-left px(10)
      padding-right @padding-left

@media (min-width $screen-sm)
  .SiteMenu-list
    text-align right
    margin-right px(15)

  .SiteMenu-listItem
    font-size px($font-size-base + 3)
    margin-left px(10)

    a
      padding px(5)

@media (min-width $screen-md)
  .SiteMenu-list
    margin-right 0

  .SiteMenu-listItem
    margin-left px(40)
