/** @define SiteFooter; weak */

@require "../base/functions"
@require "../base/variables"

.SiteFooter
  color #fff
  text-align center
  font-size px($font-size-base - 1)
  background-color $color-brand-primary
  padding px(30) px(20)

  a
    color #fff

  .SocialIcons-list
    margin-bottom px(20)

@media (min-width $screen-sm)
  .SiteFooter
    padding px(50) px(20) px(40)

    .SocialIcons-list
      float right
      margin-bottom 0

  .SiteFooter-copyright
    float left
    padding-top 6px
