/** @define SocialIcons; weak */

@require "../base/functions"
@require "../base/mixins"

$SocialIcons-icon-size = 30px

.SocialIcons-list
  li
    display inline-block
    overflow hidden // TODO: Find out why this is necessary
    margin 0 px(10)

  a
    square($SocialIcons-icon-size)
    background-size $SocialIcons-icon-size $SocialIcons-icon-size
    opacity .6
    display block
    font 0/0 a

    &:hover
      opacity .7

.SocialIcons-iconFacebook a
  background-image url("assets/images/social-icon-facebook.svg")

.SocialIcons-iconTwitter a
  background-image url("assets/images/social-icon-twitter.svg")

.SocialIcons-iconInstagram a
  background-image url("assets/images/social-icon-instagram.svg")

.SocialIcons-iconPinterest a
  background-image url("assets/images/social-icon-pinterest.svg")

@media (min-width $screen-sm)
  .SocialIcons-list
    li
      margin 0 0 0 px(25)
