{
  "extends": "stylelint-config-suitcss",
  "plugins": [
    "stylelint-selector-bem-pattern"
  ],
  "rules": {
    "plugin/selector-bem-pattern": {
      "preset": "suit"
    },
    "declaration-block-properties-order": null,
    "at-rule-empty-line-before": [
      "always", {
        "ignore": ["after-comment", "blockless-group"]
      }
    ],
    "rule-nested-empty-line-before": [
      "always", {
        "except": ["first-nested"],
        "ignore": ["after-comment"]
      }
    ],
    "rule-non-nested-empty-line-before": [
      "always", {
        "ignore": ["after-comment"]
      }
    ]
  }
}
