/*
WordPress Core alignment
*/

.alignleft,
.alignright {
  display: block;
  margin-bottom: 20px;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignnone {
  margin: 5px 20px 20px 0;
}

@media (min-width: $screen-sm) {
  .alignleft {
    float: left;
    margin: 0 20px 20px 0;
  }

  .alignright {
    float: right;
    margin: 0 0 20px 20px;
  }
}
