//
// WordPress Core features
// --------------------------------------------------

@require "../variables"

.bypostauthor
  border-top 10px solid $color-brand-pink

.sticky
  border-left 3px solid $color-brand-pink
