//
// WordPress Core screen reader text
// --------------------------------------------------

@require "../mixins"
@require "../variables"

.screen-reader-text
  square(1px)
  clip rect(1px, 1px, 1px, 1px)
  position absolute !important
  overflow hidden

.screen-reader-text:focus
  square(auto)
  background-color #f1f1f1
  border-radius $border-radius-base
  box-shadow 0 0 2px 2px rgba(0, 0, 0, .6)
  clip auto !important
  color $text-color
  display block
  font-size 14px
  font-size .875rem
  font-weight bold
  top 5px
  left 5px
  line-height normal
  text-decoration none
  z-index 100000 // Above WP toolbar
  padding 15px 23px 14px
