//
// Image Mixins
// --------------------------------------------------

// Responsive image
img-responsive($display = block)
  display $display
  width unquote('100% \9')
  max-width 100%
  height auto
