/*!!
Editor stylesheet
*/

@css {
  @import "./base/base";
  @import "./base/fonts";
  @import "./base/wordpress";
  @import "./components/entry";
  @import "./components/button";
}

@require "base/functions";
@require "base/variables";

// Custom overrides for TinyMCE editor
body.mce-content-body
  color $text-color
  font ($font-size-base / 16)rem $font-family-base
  padding px(30) px(20) px(40) !important

h2,
h3
  padding-bottom px(10)

p
  padding-bottom px(20)

img
  height auto
  max-width 100%

ul
  list-style disc
  margin-bottom px(20)
  padding-left px(20)

ol
  list-style decimal
  margin-bottom px(20)
  padding-left px(20)

li
  margin-bottom px(10)

.lead
  font-size px(22)

// Responsive images
img
  height auto
  max-width 100%
