/*!!
Editor stylesheet
*/

@css {
  @import "suitcss-base";
  @import "suitcss-components-button";
  @import "suitcss-utils-display";
  @import "suitcss-utils-layout";
  @import "suitcss-utils-text";
  @import "./base/base";
  @import "./base/fonts";
  @import "./base/wordpress/alignment";
  @import "./base/wordpress/captions";
  @import "./components/entry";
  @import "./components/button";
  @import "./base/utilities";
}

@require "base/variables";

// Custom overrides for TinyMCE editor
body.mce-content-body
  color $text-color
  font $font-size-base $font-family-base
  padding 30px 20px 40px !important

h2,
h3
  padding-bottom 10px

p
  padding-bottom 20px

img
  height auto
  max-width 100%

ul
  list-style disc
  margin-bottom 20px
  padding-left 20px

ol
  list-style decimal
  margin-bottom 20px
  padding-left 20px

li
  margin-bottom 10px

.lead
  font-size 22px

// Responsive images
img
  height auto
  max-width 100%
