/*!!
Theme Name: WordPress Gulp
Theme URI: https://github.com/AlecRust/wordpress-gulp
Author: Alec Rust
Author URI: http://alecrust.com/
Description: WordPress starter theme powered by gulp
Version: 1.1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: wpg
*/

// Base
@import "functions"
@import "mixins"
@import "variables"
@import "vendor/suit-css"
@import "fonts"
@import "base"

// Components
@import "components/button"
@import "components/form"
@import "components/browser-bar"
@import "components/comments"
@import "components/container"
@import "components/edit-link"
@import "components/entry"
@import "components/form-errors"
@import "components/jumbotron"
@import "components/page-header"
@import "components/pager"
@import "components/sidebar"
@import "components/site-footer"
@import "components/site-header"
@import "components/site-menu"
@import "components/social-icons"

// Utilities
@import "utilities"
