//
// Base variables
// --------------------------------------------------

// Fonts
$font-family-base = "Raleway Regular", sans-serif
$font-size-base =   16px
$font-size-large =  27px

// Colours
$text-color =          #091d5c
$link-color =          $text-color

$color-brand-gray =    #bbb
$color-brand-pink =    #ee5455
$color-brand-yellow =  #fbb03b

$color-brand-success = #1aa331
$color-brand-danger =  #e7420c

// Border radius
$border-radius-base = 5px

// Media query breakpoints
$screen-xs = 30em // 480px
$screen-sm = 48em // 768px
$screen-md = 62em // 992px
$screen-lg = 75em // 1200px
